body {
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
}

.container {
    position: absolute;
    margin: auto;
    padding: 1em;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: max-content;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.title {
    margin: 0 auto .5em;
}

.gameArea {
    position: relative;
}

canvas {
    border: 1px solid #000000;
    background-image: url(assets/bg2.png);
    background-size: 100%;
}

.controller {
    position: absolute;
    padding: 1em;

    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.controller > * {
    width: 80px;
    height: 80px;
    font-size: 15pt;
    border: none;
    outline: none;
    transition-duration: 200ms;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
}

.controller > *:hover:enabled {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
.controller > *:hover:disabled {
    cursor: default;
}

.player-1 {
    bottom: 12%;
}

.player-2 {
    top: 11.2%;
}

.gamecontrol {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pvpbtn {
    color: white;
    background-color: #353535;
    border: none;
    outline: none;
    margin: .5em auto;
    padding: 1em 1.5em;
    transition-duration: 200ms;
    cursor: pointer;
}
.pvpbtn:hover {
    opacity: 0.8;
}

.restartbtn {
    color: white;
    background-color: #611414;
    border: none;
    outline: none;
    margin: .5em auto;
    padding: 1em 1.5em;
    transition-duration: 200ms;
    cursor: pointer;
}
.restartbtn:hover {
    opacity: 0.8;
}