html {
    height: 100%;
    background-color: #444;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: stretch;
}

.stat {
    display: none;
    min-width: 300px;
    flex-direction: column;
}

.aibot {
    width: 100%;
    height: 15%;
    box-sizing: border-box;
    background-color: #222;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.aibot > * {
    margin: 0;
    height: 25px;
    width: 35px;
    border-radius: 50%;
    background-color: #444;
    color: #fff;
    text-align: center;
    padding-top: 8px;
    font-size: 11pt;
    font-weight: bold;
    font-family: sans-serif;
}

hr {
    margin: 0;
}

.log {
    overflow-y: auto;
    width: 100%;
    flex-basis: 100%;
    box-sizing: border-box;
    background-color: #222;
    padding: 1em;
}

@media (max-width: 1300px) {
    body {
        display: block;
    }
    .stat {
        width: 100%;
        flex-direction: row;
    }
    .aibot, .log {
        flex-basis: 100%;
        height: 200px;
    }
    .aibot > * {
        height: 43px;
        width: 60px;
        padding-top: 15px;
        font-size: 18pt;
    }
}

.log h2 {
    margin: 0;
    text-align: center;
}

.log * {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

#log {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    font-size: 11pt;
}
#log > li::before {
    content: "> ";
}

.container {
    padding: 1em;
    flex-basis: 100%;
    text-align: center;
    background-color: #444;
}

.title {
    margin: 0 auto .5em;
    /* 672 x 207 */
    /* 546 x 99 */
    width: 546px;
    height: 99px;
    background-image: url(assets/logoname2.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.gameArea {
    position: relative;
}

canvas {
    background-image: url(assets/bg3.png);
    background-size: 100%;
}

.controller {
    position: absolute;
    padding: 1em;

    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.controller > * {
    width: 80px;
    height: 80px;
    font-size: 15pt;
    border: none;
    outline: none;
    transition-duration: 200ms;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
}

.controller > *:hover:enabled {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
.controller > *:hover:disabled {
    cursor: default;
}

.player-1 {
    bottom: 11.8%;
}

.player-2 {
    top: 11%;
}

.gamecontrol {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gamecontrol > * {
    margin: 0 1em 1em 1em;
    color: white;
    border: none;
    outline: none;
    padding: 1em 1.5em;
    transition-duration: 200ms;
    border-radius: 10px;
    cursor: pointer;
}

.biji {
    color: #000;
    font-weight: bold;
    font-family: sans-serif;
    cursor: text;
    width: 4ch;
}

.logbtn {
    background-color: #021e55;
}
.logbtn:hover {
    background-color: #1e4388;
}
.clearbtn {
    background-color: #851212;
}
.clearbtn:hover {
    background-color: #a32f2f;
}

.pvpbtn {
    background-color: #353535;
}
.pvpbtn:hover {
    opacity: 0.8;
}

.restartbtn {
    background-color: #851212;
}
.restartbtn:hover {
    background-color: #a32f2f;
}

.modebtn {
    background-color: #353535;
}
.modebtn:hover {
    opacity: 0.8;
}

@media (max-width: 1024px) {
    .gameArea {
        position: absolute;
    }
    .title {
        display: none;
    }
    .gamecontrol {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
    .logbtn, .clearbtn {
        display: none;
    }
}